[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
django-nose = "*"
"psycopg2-binary" = "*"
django-redis = "*"
pylint = "*"
pylint-django = "*"

[dev-packages]
"pep8" = "*"

[requires]
python_version = "3.6"
